* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 25px;
    background-color: #f2f2f2;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.map_cred {
    position: relative;
}

.map {
    display: flex;
    justify-content: center;
}

.credentials {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.boxes {
    transition-duration: 1.5s;
    transition-property: transform;
    margin: 20px;
    padding: 10px;
    position: absolute;
}

.box1 {
    margin: 10px 50px;
    border-left: grey;
    transition-timing-function: ease;
    background-color: #ffffff;
    top: 95%;
    left: 27%;
}

.box2 {
    margin: 10px 50px;
    transition-timing-function: ease;
    background-color: #ffffff;
    top: 95%;
    left: 40%;
}

.box3 {
    margin: 10px 50px;
    transition-timing-function: ease;
    background-color: #ffffff;
    top: 95%;
    left: 55%;
}

.boxes:hover {
    transform: translateY(-20px);
}

.main_header {
    display: flex;
    justify-content: left;
}

.email_container {
    margin: 50px;
}

.hr_left {
    width: 10%;
    height: 50px;
    padding: 20px;
}

.hr_right {
    width: 70%;
    height: 50px;
    padding: 20px;
}

.name_box {
    padding: 5px;
}

.email_box {
    padding: 5px;
}

.theme_box {
    padding: 5px;
}

.message_box {
    padding: 5px;
}

.contact_main {
    display: flex;
    justify-content: center;
}

.email_form {
    width: 30%;
}

.contact_about {
    width: 980px;
    aspect-ratio: auto;
}

.info {
    display: flex;
    justify-content: center;
}

.infoboxes {
    margin: 20px;
    padding: 10px;
    max-width: 200px;
}